.paths{
  background-color: black;
  display: flex;
  justify-content: center;
  /* align-self: center; */
  align-items: center;
  height: 10vh;
  width: 100%;
  /* overflow: scroll; */
  overflow: auto;
  
}
.containerr1{
  text-align: center;
  margin-left: 2vw;
}
.btn{
  background: transparent;
  font-family: 'Harry Potter', sans-serif;
  /* font-size: 1.5em; */
}
